# Ignore objects and archives, anywhere in the tree.
*.[oa]
*.lo
*.la
*.ko

# Other build output
*.mod.c
*.o.cmd
*.ko.cmd
*.mod.cmd
*.mod
/module/Module.symvers
/module/modules.order
/module/.tmp_versions
pts/tty0tty

# Ignore backup files
*~

# Ignore Eclipse project files
.cproject
.project
.autotools
.settings
.pydevproject

# debian packaging artifacts
debian/*
debhelper/*
files
*-dkms.debhelper.log
*-dkms.dkms.debhelper
*-dkms.postinst.debhelper
*-dkms.prerm.debhelper
*-dkms.substvars
*-dkms/*

# vim temporary file
*.swp
